{% extends "network/layout.html" %}

{% block body %}
    <div class="main">
        
        <div class="side-bar">
            <!-- <div>Home</div> -->
            <div class="follow">Following</div>
            <!-- <div>Post</div> -->
            <div class="user">User</div>
        </div>

        <div class="middle-everything">
            
            {% if user.is_authenticated %}
            <form id="form-post" action="{% url 'addpost' %}" method="post">
                {% csrf_token %}
            <div class="new-post">

                        <div id="user-post" class="user-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <i class="bi bi-person-circle"></i>
                        </div>

                        <!-- <div id="add-new-post">Add New Post</div> -->
                        <div class="post-area">
                            {{ new_post.post }}
                            <!-- <textarea  id="text-post" placeholder="Something To Share?"></textarea> -->
                            <div id="submit-post">
                                <input id="input-post" type="submit" value="Post">
                            </div>
                        </div>
                    
                </div>
            </form>
            {% endif %}
            
            {% for post in posts %}
            <div class="posts">

                <a  href="{% url 'profile_page' post.user %}" class="hyper-link-post">
                
                <div class="username">
                        <div class="user-icon">
                        
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="user-username">
                            <span class="hyper-link-username">{{ post.user.first_name }} {{ post.user.last_name }}</span><br> 
                           <i>{{ post.date  }}</i> 
    
                        </div>
                    </div>
                </a>

                <div class="post-content">
                  {{ post.post }}
                </div>

                <div class="post-info">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                        
                        <span class="numbers"> {{ post.like }}</span> Like</div>
                    <div> <span class="numbers"> {{ post.comment.all.count }}</span>  Comment</div>
                    <div><span class="numbers"> {{ post.views}} </span>  Views</div>

                </div>

            </div>

            {% endfor %}
            <div class="posts">

                <div class="username">
                    <div class="user-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <div class="user-username">
                        mohani <br> 
                        August 2, 2023 G.C

                    </div>
                </div>

                <div class="post-content">
                    the whole content.
                    welcome to N.com previously twinner.com today we are working on this porject 
                    its amazing i trying ot fill some space so that i can userstand how 
                    my website behaves so let give it a try
                    welcome to N.com previously twinner.com today we are working on this porject 
                    its amazing i trying ot fill some space so that i can userstand how 
                    my website behaves so let give it a trywelcome to N.com previously twinner.com today we are working on this porject 
                    its amazing i trying ot fill some space so that i can userstand how 
                    my website behaves so let give it a try
                </div>

                <div class="post-info">
                    <div>Like</div>
                    <div>Comment</div>
                    <div>Views</div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}