{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/index.js' %}" ></script>
        <!-- <script src="{% static 'netoork/react.js' %}" type="text/babel"></script> -->
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_page' user %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="body">
            <div class="main">
        
                <div class="side-bar">
                    <div class="follow">Following</div>
                    <div class="user">User</div>
                </div>
        
                <div class="middle-everything"> 
                    {% block body %}

                    {% endblock %}
                    
                    {% for post in posts %}
                    <div class="posts">
                        <div class="username">
                            <div class="user-icon">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <i class="bi bi-person-circle"></i>
                            </div>
                            
                            <div class="user-username">
                                    <a  href="{% url 'profile_page' post.user %}" class="hyper-link-post">
                                    <span class="hyper-link-username">{{ post.user.first_name }} {{ post.user.last_name }}</span><br> 
                                    </a>
                                   <i>{{ post.date  }}</i> 
                                </div>
                                {% if user == post.user %}
                                <button  class="edit"  data-post_id="{{ post.id }}">Edit</button>
                                {% endif %}
                            </div>
                            <div class="post-content">
            
                            {{ post.post }}
                            </div>
        
                            <div class="post-info">
                                <div>
                                    {% if user in post.like.all %}
                                        <button class="liked like" data-post_id="{{post.id}}" data-liked="True" >❤</button>
                                    
                                    {% else %}
                                        <button class="not-liked like" data-post_id="{{post.id}}" data-liked="True">❤</button>
                                    {% endif %}
                                
                                    <span data-post_id="{{post.id}}" class="like-number numbers"> {{ post.like.all.count }}</span> 
                                    Like</div>
                                <div class="comments"> <span class="numbers"> {{ post.comment.all.count }}</span> Comment</div>
                                <div><span class="numbers"> {{ post.views}} </span>  Views</div>
                            </div>
                            <div style="display: none;" class="post-comments">
                                Comments
                                <hr style="border: 2px solid green;">
                                {% if user.is_authenticated %}

                                <div class="new-comment">
                                    <div class="comment-textarea">
                                        <textarea data-post_id="{{ post.id }}" class="add-new-comment" title="Comment" placeholder="Add your comment here"></textarea>                                    
                                    </div>
                                    <div class="submit-comment-area">  

                                        <input disabled class="submit-comment" type="submit" value="Comment">  

                                    </div>
                                </div>
            
                                {% endif %}

                                {% for comment in post.comment.all %}
                                <div  class="post-comment new-post">
    
                                    <div id="user-post" class="user-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                        <i class="bi bi-person-circle"></i>
                                    </div>
                
                                    <div class="comment-area">
                                        <div class="commenter-info">
                                            <a  href="{% url 'profile_page' comment.user %}" class="hyper-link-post">
                                            <span class="commenter hyper-link-username">{{ comment.user.first_name }} {{ comment.user.last_name }}</span><br> 
                                            </a>
                                            <div class="commented-on">{{ comment.time }}</div>
        
                                        </div>
                                        <div class="comment">{{ comment.comment }} </div>
                                    
                                    </div>
                                
                                </div>
                                {% endfor %}
                            </div>
        
                    </div>
        
        
                    {% endfor %}
                    <br>
                   


                    {% if posts.number %}
                    <nav aria-label="...">
                        <ul class="pagination">
                        {% if posts.has_previous%}
                        
                          <li class="page-item ">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                        {% endif %}
                        {% for  page in posts.paginator.page_range %}
                            {% if page == posts.number %}
                            <li class="page-item active">

                                <a class="page-link" href="?page={{ page }}"> {{page}} <span class="sr-only">(current)</span></a>
                            </li> 
                            {% elif page > posts.number|add:'-3' and page < posts.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                          {% if posts.has_next %}
                          <li class="page-item ">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                      {% endif %}
                </div>
            </div>
            
        </div>
    </body>
</html>