{% extends 'network/layout.html' %}


{% block body %}

        <div class="profile">
            <div id="profile-container">

                <div id="profile-background">
                </div>
                <div id="profile-picture" class="svg-user">
            
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <i class="bi bi-person-circle"></i>
                </div>

                {% if user.is_authenticated %}
                <form action="{% url 'follow' User.id %}">
                    {% csrf_token %}
                    {% if user != User %}
                        {% if follows %}
                            <button class="follow-button">Unfollow</button>
                        {% else %}
                            <button class="follow-button">Follow</button>
                        {% endif %}
                    {% endif %}
                {% else %}

                {% endif %}
                </form>
            </div> 
            <div id="profile-info">
                <div>{{ User }} </div>
    
                <div> {{ User.followers.all.count }} <div>Followers</div></div>
                <div>{{ User.following.all.count }} <div>Following</div> </div>

            </div>
            
        </div>

        
       


{% endblock %}

<ul class="pagination">

    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
        <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}
    
    {% if page_obj.number|add:'-4' > 1 %}
        <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}
    
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
        <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
    {% endif %}
    
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
        <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}
    
    </ul>