body, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

.middle-everything {
    width: 100%;
}
.span-like {
        border: .001rem solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 1rem;
        padding: 17px 1px 13px 1px;
        margin: 0;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
    }

  
    .heart {
        width: .8rem;
        height: .8rem;
        background-color: white;
        position: absolute;
        transform: rotate(45deg);
    }

    .heart::before {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit;
        position: absolute;
        right: 0%;
        bottom: 50%;
        border-radius: 50%;

    }
    
    .heart::after {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit ;
        position: absolute;

        border-radius: 50%;
        bottom: 0%;
        left: -50%;
    } 

    .liked {
        background-color: rgb(255, 0, 0);
    } 

    .not-liked {
        background-color: white;
    }
    
    .not-liked:hover, .liked:hover {
        width: .7rem;
        height: .7rem;
    }

    .comments:hover {

        cursor: pointer;
    }

    .pagination {
        margin-right: .5rem;
    }


    .page-link {
        background-color: white;
        color: orange;
    }
    .active > #active {
        background-color: orange;
        border-color: gold;
    }

    .page-link:hover {
        color: gold;
    }
    
    .page-link:focus {
        background-color: orange;
        color: white;
    } 

    .empty {
        margin: 20px;
        color: #919191;
    }
    
    
       
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
    .network { 
        position: sticky;
        z-index: 333;
        top: 0;
        right: 0;
        margin: 0;
        width: 100%;
    }

    .nav-bar-network {
        display: flex;
        width: max-content;
        justify-content: space-between;
       flex-direction: row;
       width: 100%; 
       min-width: 300px;
        font-style: gold;
        position: sti;
        z-index: 333;
    }

    .nav-bar-network > li > a {
        color: orangered !important;
    }

   
    
    
  
    
    .main {
        display: flex;
        justify-content: center;

        min-width: 310px;
        padding: 5px;
    }   

    .new-post {
        display: flex;
        padding: 0.5rem;
        border: 1px solid rgb(255, 170, 0);


        margin: 1rem 0.25rem;
        /* border-radius: 10px; */
    }
    .new-post:hover {
        background-color: rgb(255, 250, 240);
    }
    
    .user-icon {
        width: 3rem;
        padding: 0.25rem;
    }
    
    .user-icon > svg {
        width: 2.5rem;
      
    }
    
    .post-area {
        width: 100%;
        padding: 0.25rem 0px 0px 0.25rem;
    }
    
  
    
  
    .posts {
        border: 0.1rem solid rgba(255, 217, 0, 0.8);
        /* border-radius: 0.5rem; */
        padding: 0.5rem;
        margin: .5rem .2rem;
        background-color: rgb(255, 252, 246);
    }

    
    
        
   
    
    .user-username {
        width: 100%;
        padding-left: .5rem;
    }


    
    .edit {
        top: 0.25rem;
        right: 0.25rem;
        padding: 0.1rem .8rem;

      
    }
    
   
  
    .edit-buttons {
        margin: 0.25rem;
    }
    
    .edit-buttons > button {
        margin: 0.2rem 0.1rem;
        padding: 0.2rem 1rem;
        border-radius: 5px;
    }
  
    
    .post-content {
        padding: 1rem;
        font-family: 'Lato', sans-serif;

        text-align: justify;
    }
    
    
    
   
    

      
     
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .main {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
    
    
    
    
    .middle-everything {

        max-width: 650px;
        border: 5px solid black;
        padding: 1rem;
    }

    .new-post {
        display: flex;
        padding: 1rem;
        border: 3px solid rgb(255, 170, 0);
        margin: 1rem 0.5rem;

    }
    .new-post:hover {
        background-color: rgb(255, 252, 241);
    }
    
    .user-icon {
   
        width: 5rem;
        padding: 1rem 0.5rem;
    }
    
    .user-icon > svg {
        width: 3rem;
        
    }
    
    .post-area {
        width: 100%;
        padding: 1rem 0.25rem 0px 0.5rem;
    }    
    
    
    .posts {
        border: 0.2rem solid rgba(255, 217, 0, 0.8);
        padding: 0.4rem;
        margin: 0.3rem;
        font-family: 'Gabarito', cursive;   
    } 
    
    .user-username {
        width: 100%;
        padding: 1rem .5rem;  
    }
 
    

    .edit {
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.1rem 1rem;

  }
    
    
    
    
    .edit-buttons {
        margin: 0.5rem;
    }
    
    .edit-buttons > button {
        margin: 0.2rem .3rem;
        padding: 0.2rem 1rem;
        border-radius: 5px;
    }
  
    
    .user-image {
        width: 4rem;

    }
    
    .post-content {
        padding: .5rem 2rem 1rem 2rem;
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: 18px;

    }
    
    

    

  

    
}

  .user-icon {
        display: flex;
        justify-content: center;
  }
.user-icon > svg {

    color: rgb(255, 255, 255);
    padding: 2px;
    background-color: rgb(242, 140, 7);
    border-radius: 50%;

    height: fit-content;
    text-align: center;
}


#text-post {
    border: 1.5px solid rgb(255, 223, 116);
    outline: none;
    width: 100%;
    
    padding: 0.5rem 1rem;

    max-height: 400px;
    resize: none;
    overflow: auto;
}

#text-post:hover {
    outline: rgba(255, 166, 0, 0.75) solid 1.5px;
}

#text-post:hover {
    outline-color: rgb(255, 166, 0);
}

#submit-post {
    display: flex;
    justify-content: flex-end;    
    padding: 0.5rem 0px;
}

#input-post {
    width: 4rem;
    background-color: rgba(255, 166, 1, 0.75);
    color: white;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
}

#input-post:hover {
    background-color: rgb(244, 158, 0);
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.353);
}


#input-post:disabled {
    background-color: rgba(128, 128, 128, 0.555);
    box-shadow: none;
}



.posts:hover {
    background-color: rgb(255, 252, 245);
    box-shadow: inset 0px 0px 2px gold;
    box-shadow: 0px 0px 20px silver;
    border-color: gold;
}

       
.username {
    display: flex;
    position: relative;

}
.hyper-link-user {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}

.hyper-link-user:hover {
    color: inherit;
    text-decoration: underline;
}

.edit {
    position: absolute;

    z-index: 33;

    font-size: 0.9rem;

    font-weight: 500;
    color: white;
    background-color: rgba(255, 166, 0, 0.75);
    border: 1px solid orange;
    border-radius: 3px;
}

.edit:hover {
    color: rgb(255, 166, 0);
    background-color: rgb(255, 242, 219);

    box-shadow: 0px 0px 2px 2px rgb(251, 202, 88);
    border-radius: 4px;
}

.edit-content {
    max-height: 300px;
    width: 100%;
    border-color: rgb(255, 219, 127);
    outline-color: rgb(255, 219, 127);
    padding: 1rem;
    border-radius: .5rem;
    resize: none;
    overflow: auto;
}

.edit-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;

}

  
.stop-edit {
    color: black;
    background-color: white;
    border: 1px solid silver;
}

.stop-edit:hover {
    color: white;
    background-color: silver;
    box-shadow: 2px 2px 10px silver;
}

.new-edit {
    color: white;
    background-color: rgba(255, 166, 0, 0.75);
    border: 1px solid silver;

}

.new-edit:hover {
    background-color: rgb(255, 166, 0);
    box-shadow: 2px 2px 10px silver;
}


.post-info {
    display: flex;
    justify-content: space-evenly;

    border: 1px solid orange;
    background-color: rgb(250, 234, 210);
    font-family: 'Gabarito', cursive;
    margin: 0 .5rem ;
}

.post-info:hover {
    background-color: rgb(255, 233, 201);

}
.post-info> div {

    display: flex;
    
    justify-content: center;
    align-items: center ;
    text-align: center;
    border: 2px solid transparent;
    color: rgb(0, 0, 42);
    width: 100%;
}
.post-info > div:hover {
    background-color: rgb(247, 214, 165);
}
.post-comments {
    margin: 0 0.5rem 1rem 1rem;
    padding: 0.5rem 0.3rem;
    border-left: 0.2rem solid orange;
    border-bottom: 0.2rem solid orangered;
    border-bottom-left-radius: 1rem;

}

.comment-title {
    margin-bottom: .5rem;
    border-bottom: 1.5px solid black;
}  
.comment-textarea {

   padding: 0.25rem 0.5rem;
}
.add-new-comment {

    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    outline: none;
}

.add-new-comment:hover {
    border-color: orangered;
}

.submit-comment-area {

    display: flex;
    justify-content: end;
}



.submit-comment {
    border-radius: .5rem;
    padding: 0.3rem 0.5rem;
    font-family: sans-serif;
    color: white;
    background-color: rgba(255, 166, 0, 0.75);
    margin: 0.5rem;
    border: none;
    border-radius: 2px;

}

.submit-comment:hover {
    background-color: rgb(255, 166, 0);
    border: none;
    outline: none;
}

.submit-comment:disabled {
    background-color: rgb(150, 150, 150);
    border-color: aliceblue;
}



.post-comment {
    display: flex;
    border: 1px solid gold;
    margin-top: .5rem;

    background-color: inherit;
    padding: .5rem;
}

.post-comment:hover {
    background-color: rgb(254, 242, 214);
    box-shadow: 0px 0px 10px 5px rgb(255, 242, 212);
}

.post-comment > .user-icon, .post-comment > .comment-area {
    padding-top: .5rem;

}

.comment-area {
    padding-left: .5rem;
    width: 100%;
}


.commenter-info > .hyper-link-user  {
    font-size: 1rem;

}


.comment {
    padding: .4rem 0;
}


.commented-on {
    font-size: 0.9rem;
    padding: 0;
}

.profile {
    width: 100%;
    border-bottom: 2px solid orange;
    margin-bottom: 2rem;
}



#profile-container {
    position: relative;
    width: inherit;

    height: 14rem;
    /* border: 2px double dodgerblue; */
}    

#profile-background {
    position: absolute;

    width: 100%;
    height: 10rem;
    border: .2rem solid orange;
    background-image: linear-gradient(to bottom right, rgba(1, 81, 146, 0.676), rgba(0, 179, 255, 0.693) );

}

    #profile-picture {
        position: absolute;
        top: 6.5rem;
        left: 2rem;
    
        width: 7rem;
        height: 7rem;

        border: .2rem solid rgba(255, 166, 0, 0.993);
        border-radius: 50%;
        background-color: rgb(84, 141, 165);
        color: white;
        padding: 10px;
        z-index: 23;
    }
 
#profile-picture > svg {
    width: 100%;
    height: 100%;
}



.follow-button {
    position: absolute;
    top: 11rem;
    right: 1rem;
    margin: 10px;
    background-color: orange;
    color: white;
    font-weight: 500;

    padding: 0.25rem 1.5rem;
    border: 1px solid orangered;
    border-radius: 4rem;

}




.follow-button:hover {
    background-color: white;
    color: orange;
    border-color: orange;
}

#profile-info {
    display: flex;
    margin: 1rem;
    height: max-content;
    justify-content: space-between;
    align-items: flex-end;

}

#profile-info > div {
    border: 2px solid transparent;
    text-align: center;
    padding: 1rem;
    font-weight: 550;
    width: 100%;
}

#profile-info > div:hover {
    border-bottom: 2px solid orangered;

    color: rgb(255, 8, 0);
    font-weight: 550;

}